body {
  background-color: black;
  margin: 0;
}

#game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#picker {
  position: absolute;
  top: 100px;

  img {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    user-select: none;
    &:hover {
      border: 2px solid red;
    }
  }
}

.level {
  color: white;
  display: flex;
  flex-direction: column;
  user-select: none;
  margin: 8px;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  &:hover {
    background-color: #fff;
    border: 2px solid yellow;
  }

  &.filled {
    background-color: yellow;
  }
}

.field {
  border: 2px solid white;
}

#saved {
  border: 2px solid white;
  display: flex;
}

#levelEditors {
  display: flex;
}

#levelActions {
  display: flex;
  margin: 8px;
}

.preview {
  border: 2px solid white;
  &:hover {
    border: 2px solid yellow;
  }

  &.selected {
    border: 2px solid red;
    &:hover {
      border: 2px solid violet;
    }
  }
}

#blocks {
  display: flex;
}

.block-preview {
  border: 2px solid white;
  &:hover {
    border: 2px solid yellow;
  }

  &.selected {
    border: 2px solid red;
  }
  height: auto;
}
